@value slateGrey from './colours.scss';

.common {
  font-family: Raleway;
  color: slateGrey;
}

.heading {
  composes: common;

  font-size: 48px;
}

.subHeading {
  composes: common;

  font-size: 36px;
}
