$pageWidth: 1200px;

.navBar {
  border-bottom: 1px solid black;
  padding: 5px 20px;

  font-size: 36px;
  font-family: raleway;
}

.content {
  display: flex;
  justify-content: space-between;

  max-width: $pageWidth;
  margin: auto;
}

.links {
  display: flex;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
}

.link {
  margin-left: 50px;
  cursor: pointer;
}
