@value primary, secondary, white from 'styles/colours.scss';
@value medium from 'styles/breakpoints.scss';

$pageWidth: 1200px;

.navBar {
  border-bottom: 1px solid black;
  padding: 5px 20px;
  background-color: white;

  font-size: 36px;
  font-family: raleway;
}

.content {
  display: flex;
  justify-content: space-between;

  max-width: $pageWidth;
  margin: auto;
}

.logo {
  font-family: Sacramento;
}

.links {
  display: flex;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
}

.wrapper {
  position: relative;
  margin-left: 50px;
  cursor: pointer;

  @media medium {
    display: none;
  }

  transition: color .2s ease;
  &:hover {
    &::after,
    &::before {
      width: 100%;
      left: 0;
    }
  }
}

.link {
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: calc(100% + 3px);
    width: 0;
    right: 0;
    height: 2px;
    border-radius: 15px;
  }

  &::before {
    transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: secondary;
  }

  &::after {
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: primary;
  }

  &:hover {
    &::after,
    &::before {
      width: 100%;
      left: 0;
    }
  }
}
