.Footer {
  composes: section from 'styles/layout.scss';

  position: relative;
  background-color: white;
}

.logo {
  font-family: Sacramento;
  text-align: center;
  font-size: 48px;
}

.social {
  text-align: center;
}

.icon {
  max-width: 30px;
}

.copyright {
  font-size: 11px;
  font-family: Raleway;
  margin: 0;

  position: absolute;
  bottom: 5px;
  left: 5px;
}
