@value white from 'styles/colours.scss';
@value medium from 'styles/breakpoints.scss';

$pageWidth: 1200px;

.Work {
  composes: lightGreySection from 'styles/layout.scss';

  text-align: center;
}

.heading {
  composes: heading from 'styles/typography.scss';

  margin-bottom: 30px;
}

.examples {
  max-width: $pageWidth;
  margin: auto;

  text-align: left;
}

.example {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 110px;

  @media medium {
    margin-bottom: 0px;
  }
}

.cleversparky {
  justify-content: flex-end;
}

.modalExamples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  max-width: $pageWidth;
  margin: auto;
}
